<meta charset="utf-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>

<div id="app">
	Hi, {{fullName}}
	<br />{{last + name}}

	<a href="#!" :title="titleTxt || '文章'">超連結</a>
	<br />
	<img :src="imgSrc" :title="titleTxt" :alt="titleTxt" height="300" />
	<p>用戶名稱：評論</p>
	<p v-for="comment in comments">{{comment}}</p>

	<p>{{message}}</p>
	<input v-model="message" />
	<br />
	<button @click="counterPlus(3)">+1</button>
	<button @click="counterReduce($event,3)">-1</button>
	<p>{{counter}}</p>
	<br />
</div>

<script>
	// eslint-disable no-undef, no-unused-vars
	var data = {
		name: "Eddy",
		last: " Chen",
		imgSrc:
			"https://i.picsum.photos/id/212/200/300.jpg?hmac=2PUnX8vk476_x3NwjUExdYhPxVyP1Qd17BLvvBYTONQ",
		comments: [
			{
				user: "Eddy",
				text: "好讚的文章"
			},
			{
				user: "Andy",
				text: "好酷的文章"
			}
		]
	};

	var app = new Vue({
		el: "#app",
		data: {
			name: data.name,
			last: data.last,
			titleTxt: data.titleTxt || "文章",
			imgSrc: data.imgSrc,
			comments: data.comments,
			message: "Hello vue",
			counter: 0
		},
		methods: {
			counterPlus: function (adder) {
				console.log(this);
				this.counter = this.counter + adder;
			},
			counterReduce: function (eventData) {
				console.log(eventData);
				// console.log(eventData.target);
				// this.counter--;
			}
		},
		computed: {
			fullName() {
				return this.name + " " + this.last;
			}
		}
	});

	app.name = "Eddy";
</script>
